.reklama {
    // padding: 14px 0;
    background-color: #FF8642;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    height: 60px;
    overflow: hidden;
    transition: 0.5s all ease;
}

.reklama--delete {
    height: 0;
    overflow: hidden;
}

.reklama__title {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-right: 433px;
    font-size: 20px;
}

.reklama__btn {
    padding: 0;
    border: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
        width: 100%;
        height: 3px;
        content: "";
        position: absolute;
        background-color: #fff;
        border-radius: 2px;
    }

    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
}