@use "./colors.scss" as colors;

.container {
  max-width: 1430px;
  padding: 0 30px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.section-router {
  margin-top: 22px;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  span {
    margin-right: 10px;
    a {
      color: colors.$cardHeaderText;
    }

    &.active a {
      color: colors.$grayTextColor;
    }
  }
  span {
    &:nth-child(2) {
      display: inline-block;
      width: 20px;
      height: 14px;
      background: url("../assets/Icons/nextIcon.png");
      background-size: cover;
    }
  }
}

.section-header {
  font-weight: 700;
  font-size: 30px;
  margin: 12px 0;
  line-height: 40px;
  color: colors.$blueTextColor;
}

.card {
  .card-image {
    img {
      width: 100%;
      height: 300px;
    }
  }
  .card-body {
    padding: 25px;
    padding-bottom: 0;
    &__title {
      color: colors.$cardHeaderText;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      line-height: 26px;
    }
    &__description {
      color: colors.$cardDescriptionText;
      line-height: 22px;
      font-weight: 400;
    }
  }
  .card-footer {
    padding: 25px 20px;
    font-weight: 400;
    font-size: 14px;
    color: colors.$cardFooterText;
    flex-grow: 1;
  }
}

button {
  cursor: pointer;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
