@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,900&family=Montserrat:wght@400;500;600;700;800;900&family=Old+Standard+TT:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/tt-norms-pro");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Old Standard TT", "Arial", sans-serif; */
  font-size: 16px;
  line-height: 1;
  font-family: "TT Norms Pro", sans-serif !important;
  margin-top: 290px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
