.map__iframe {
    width: 1430px;
    height: 500px;
}

.map {
    position: relative;
    overflow: hidden;
}

.map__wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 120px;
    z-index: 2;
    background-color: #fff;
    padding: 30px 30px 30px 64px;
    border-radius: 15px;
}

.map__time {
    width: 143px;
    margin-bottom: 10px;

    &::before {
        width: 50px;
        height: 50px;
        display: block;
        left: -60px;
        top: 10px;
    }
}

.map__btn {

    &::before {
        right: -10px;
        top: 7px;
    }
}